.bg-dark {
    background-color: #d3778b!important;
}
.nav-link {
    font-size: 16px;
}
.col-sm-4 h3{
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    /* text-align: center;  */
    text-shadow: 2px 1px 2px #ca919d;
}
#symbol{
    font-family: 'Prompt', sans-serif;

}





    
    
    
    